@import "tailwindcss";

@theme {
  --color-primary-100: #CCECF4; /* azul clarinho */
  --color-primary-200: #6AC5EA; /* azul claro */
  --color-primary-300: #285487; /* azul escuro */
  --color-primary-400: #0F3A72; /* azul marinho */
  --color-secondary-100: #97C133; /* verde claro */
  --color-secondary-200: #46931F; /* verde escuro */
  --spacing-18: 4.5rem;
  --spacing-22: 5.5rem;
}

@layer utilities {
  @keyframes blob {
    0%, 100% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(30px, -50px) scale(1.1);
    }
    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }
  }

  .animate-blob {
    animation: blob 7s infinite;
  }

  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
